.modal {
    z-index: 100000;
}
.map-controls-collapser {
    position: absolute;
    top: 10px; left: 10px;    
    width: 320px; height: 40px;
    background-color: rgba(120, 120, 120, 0.5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: darkgray;
    border-width: 1px;
    z-index: 99999;
    transition: 0.5s all;
}
.map-controls-collapser.collapsed {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 45px;
}
.map-controls-collapser i {
    transition: 0.3s ease-in-out;
}
.map-controls-collapser i.expanded {
    transform: rotate(90deg);
}
.map-controls-collapser-label {
    position: absolute;
    font-size: 16px;
    color: white;
    border: 1px solid black;
}

.map-controls-container {
    position: absolute;
    top: 50px; left: 10px;    
    width: 320px; 
    background-color: rgba(120, 120, 120, 0.5);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: darkgray;
    border-width: 1px;
    z-index: 99999;
    opacity: 0;
    transition: 0.5s all;
}
.map-controls-container.expanded {
    opacity: 1;
    display: block;
}

.map-control-button {
    position: absolute;
    padding: 4px;
    border-radius: 0;
    background-color: lightgray;
    border-color: gray;
}

.map-control-label {
    position: absolute;
    padding: 4px;
    padding-top: 6px;
    border-radius: 0;
    background-color: lightgray;
    border: 1px solid gray;
    font-size: 0.9em;
    text-align: center;
}

.map-control-title {
    position: absolute;
    padding: 4px;
    border-radius: 0;
    background-color: lightgray;
    border: 1px solid gray;
    font-size: 1em;
    text-align: left;
}

.left-panel-container {
    z-index: 100000;
    opacity: 0.9;
    background-color: rgb(240,240,240);
}
.left-panel-title {
    text-align: left;
    border-bottom: 0.5px solid gray;
    background-color: lightgray;
}
.left-panel-content {
    padding: 5px;
}
.right-panel-container {
    z-index: 100000;
    opacity: 0.9;
    background-color: rgb(240,240,240);
}
.right-panel-title {
    text-align: left;
    border-bottom: 0.5px solid gray;
    background-color: lightgray;
}
.right-panel-content {
    padding: 5px;
}

.boton-cerrar-offcanvas {
    position: absolute;
    right: 10px; top: 10px;
    width: 40px;
    height: 40px;
}
.boton-cerrar-offcanvas-right {
    position: absolute;
    left: 10px; top: 10px;
    width: 40px;
    height: 40px;
}
.map-control-layers-container {
    position: absolute;
    overflow: hidden;
}
.map-controls-layer-row {
    position: relative;
    height: 35px;
    padding: 4px;
    border-radius: 0;
    background-color: lightgray;
}
.map-controls-layer-row.drop-target {
    border-top: 1px solid red;
}
.map-control-layer-name {
    font-size: 0.8em;
    text-align: left;
    border: 1px solid gray;
    padding-top: 7px;
    padding-left: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.collapsible-panel {
    padding: 5px;
    opacity: 1;
}
.collapsible-panel-title {
    background-color: lightgray;
    border: 1px solid darkgray;
    font-size: 1em;
    text-align: left;
    padding: 5px;
    color: black;
    cursor: pointer;
}
.collapsible-panel-title i {
    transition: 0.3s ease-in-out;
}
.collapsible-panel-title i.expanded {
    transform: rotate(90deg);
}
.collapsible-panel-content.expanded {
    opacity: 1;
    display: block;
}
.collapsible-panel-content {
    background-color: lightgray;
    border: 1px solid darkgray;
    opacity: 0;
    /*display: none;*/
    border: 1px solid darkgray;
    transition: 0.5s all;
}

.collapsible-tree-group i {
    transition: 0.3s ease-in-out;
}
.collapsible-tree-group i.expanded {
    transform: rotate(90deg);
}
.collapsible-tree-content.expanded {
    opacity: 1;
    display: block;
    height: auto;
}
.collapsible-tree-content {
    opacity: 0;
    display: none;
    transition: 0.5s all;
}

.clickable-icon {
    cursor: pointer;
}

.station-row {
    display: flex;
    text-align: start;
}